<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.area.ItripHotMapper">

    <select id="getItripHotById" resultType="cn.itrip.beans.pojo.ItripAreaDic" parameterType="java.util.Map">
        select
        id as id,
        name as name,
        areaNo as areaNo,
        parent as parent,
        isActivated as isActivated,
        isTradingArea as isTradingArea,
        isHot as isHot,
        level as level,
        isChina as isChina,
        pinyin as pinyin,
        creationDate as creationDate,
        createdBy as createdBy,
        modifyDate as modifyDate
        from itrip_area_dic
        <trim prefix="where" prefixOverrides="and | or">
            and isHot=1
            <if test="isChina!= null and isChina!=''">
                and isChina=#{isChina}
            </if>
        </trim>
    </select>

    <select id="getItripHotByIdsq" resultType="cn.itrip.beans.pojo.ItripAreaDic" parameterType="java.util.Map">
          select * from itrip_area_dic
        <trim prefix="where" prefixOverrides="and | or">
            <if test="parent!= null and parent!=''">
                and parent=#{parent}
            </if>
        </trim>
    </select>

    <select id="getItripHotelIdsp" resultType="cn.itrip.beans.pojo.ItripHotel">
       select * from itrip_hotel where id=#{id};
    </select>

    <select id="getItripHotByName" resultType="String" parameterType="java.util.Map">
       select name from itrip_area_dic,itrip_hotel_trading_area where itrip_area_dic.id=itrip_hotel_trading_area.areaId
       and itrip_hotel_trading_area.hotelId=#{hotelId};
    </select>

    <select id="getItripHotelfacilities" resultType="cn.itrip.beans.pojo.ItripHotel">
       select * from itrip_hotel
        <trim prefix="where" prefixOverrides="and | or">
            <if test="provinceId!= null and provinceId!=''">
                and provinceId=#{provinceId} limit 0,1;
            </if>
        </trim>
    </select>

    <select id="getItripHotelPolicy" resultType="cn.itrip.beans.pojo.ItripHotel" >
        select hotelPolicy from itrip_hotel
        <trim prefix="where" prefixOverrides="and | or">
            <if test="provinceId!= null and provinceId!=''">
                and provinceId=#{provinceId} limit 0,1;
            </if>
        </trim>
    </select>

</mapper>