<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE mapper
                PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.label.ItripLabelMapper">

    <select id="getItripLabel" resultType="cn.itrip.beans.pojo.ItripLabelDic" parameterType="java.util.Map">
        select * from itrip_label_dic where parentId=16
    </select>

    <select id="getItripLabelName" resultType="String" parameterType="java.util.Map">
        select name,description from itrip_label_dic,itrip_hotel_feature where itrip_label_dic.id in (itrip_hotel_feature.featureId)
        and itrip_hotel_feature.hotelId=#{hotelId};
    </select>

    <select id="getItripLabelHotel" resultType="cn.itrip.beans.pojo.ItripLabelDic" parameterType="java.util.Map">
        select name,description from itrip_label_dic,itrip_hotel_feature where itrip_label_dic.id in (itrip_hotel_feature.featureId)
        and itrip_hotel_feature.hotelId=#{hotelId};
    </select>

    <select id="getItripRoomType" resultType="cn.itrip.beans.pojo.ItripLabelDic" parameterType="java.util.Map">
        select * from itrip_label_dic where parentId=1;
    </select>

</mapper>