<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.itrip.dao.hotel.ItripHotelMapper">

    <select id="getItripHotelId" resultType="cn.itrip.beans.pojo.ItripHotel" parameterType="java.util.Map">
        select * from itrip_hotel
        <trim prefix="where" prefixOverrides="and | or">
        <if test="cityId != null and cityId!=''">
            and cityId=#{cityId} limit 0,6
        </if>
        </trim>
    </select>

</mapper>